.property-content{			
	padding: 3%;
}
.property-title a, .property-title i{
	color: white!important;
	font-weight: 500;
}
.property-title{
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.property-details{
	color: #1c1b1e;
}
.property-business{
	position: absolute;
    color: white;
    bottom: 10px;
    left: 15px;
    z-index: 20;
}
.business{
	bottom: 0px;
	position: absolute;
	left: 15px;
	z-index: 20;
}
.business img{
	width: 20%;
	height: auto;
}
.property-price{
	position: inherit;
}
.property-footer{
	background: #ece8e2;
}
.property-tag {
    position: absolute;
    padding: 8px 20px;
    font-size: 17px;
    z-index: 25;
}
.property-color-bar{
	background: #12243c;
}
.property-label {
    position: absolute;
    top: 10px;
    left: -5px;
    bottom: inherit;
    color: #fff;
    padding: 2px 20px 2px 10px;
    z-index: 10;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    padding: 7px 20px;
}
.property-label:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-color: rgba(0, 0, 0, 0) #751814 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 6px 6px 0;
    height: 0;
    width: 0;
}
.property-label:after{
    border-style: solid;
    border-width: 18px;
    right: -30px;
    top: 0;
    content: '';
    height: 0;
    position: absolute;
    width: 0;
}
.property-label.orange-background:after{
	border-color: #FA9414 transparent #FA9414 #FA9414;
}
.property-label.green-background:after{
	border-color: #A1C739 transparent #A1C739 #A1C739;
}
.property-label.blue-background:after{
	border-color: #324995 transparent #324995 #324995;
}
.property-label i {
    margin-right: 8px;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
.property-label span {
    display: block;
    font-size: 14pt;
    font-weight: 600;
    margin-top: -4px;
}
.property-img{
	text-align: center;
	background: #f1f3f6;
}
.property-img img {
    height: 350px!important;
}