/*General*/
textarea {
    resize: none;
}

/*header*/
.header-background{
    padding: 0;
    background: #1a2b3f url(../images/header.jpg)no-repeat center;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.header-classic .header-background.fixed { 
    position:fixed; 
    top:0; 
    left:0; 
    margin-top:0; 
    width:100%; 
    border-radius:0px;
}
/*footer*/
.footer-contact li i{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 13pt;
    border: 1px solid #74777c;
    margin-right: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
}
.footer-contact li span{
    display: block;
    margin-top: -10px;
    font-size: 14px;
    color: white;
}

.footer-contact li{
    margin-bottom: 18px;
    padding: 5px 0 0 35px;
    min-height: 30px;
    display: block;
    position: relative;
    color: white;
    font-size: 14px;
}

.footer-contact li a{
    color: white;
}
.footer-contact li a:hover, .footer-links li a:hover{
    color: #a6ce3a;
}

.footer-links{
    list-style: none;
    padding: 0;
}

.footer-links li {
    border-top: 1px solid #535f6d;
    position: relative;
}

.footer-links li a {
    display: inline-block;
    width: 100%;
    padding: 11px 10px 11px 0;
    position: relative;
    text-transform: uppercase;
    color: white;
}

.footer-links li a:after {
    color: #a6ce39;
    content: "\f0da";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer-widget a{
    color: white;
    font-size: 14px;
}

/*buscador*/
.search input[type="text"]{
    border: none;
    border-radius: 3px 0px 0px 3px;
    font-size: 13px;
    padding: 12px;
    height: 45px;
    width: 85%;
    float: left;
    color: black;
}

.search input[type="submit"]{
    border-radius: 0px 3px 3px 0px;
    padding: 13.5px;
    width: 15%;
    float: left;
    font-size: 13px;
}

/*Item slider*/
.item-slide{
  height: 250px!important;
}
.properties .item-slide{
  height: 250px!important;
}
.blog-post .item-slide{
  height: 130px!important;
}

/*Diseño de etiqueta en imagenes*/
.property-label {
    position: absolute;
    top: 10px;
    left: -5px;
    bottom: inherit;
    color: #fff;
    z-index: 10;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    padding: 7px 20px;
}
.property-label:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-color: rgba(0, 0, 0, 0) #751814 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 6px 6px 0;
    height: 0;
    width: 0;
}
.property-label-after:after{
    border-style: solid;
    border-width: 22px;
    right: -30px;
    top: 0;
    content: '';
    height: 0;
    position: absolute;
    width: 0;
}
.property-label.orange-background:after{
  border-color: #FA9414 transparent #FA9414 #FA9414;
}
.property-label.green-background:after{
  border-color: #A1C739 transparent #A1C739 #A1C739;
}
.property-label.blue-background:after{
  border-color: #324995 transparent #324995 #324995;
}
.property-label i {
    margin-right: 8px;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
.property-label span {
    display: block;
    font-size: 16pt;
    font-weight: 700;
}

/*colores*/
.white{
  color: white!important;
}
.orange{
  color: #FA9414!important;
}
.blue{
  color: #324995!important;
}
.green{
  color: #A1C739!important;
}
.red{
  color: #df4a43!important;
}
.baltic-sea{
  color: #1C1B1E!important;
}
.big-stone{
  color: #12243c!important;
}
.limed-spruce{
  color: #3A464E!important;
}

.athens-gray-background{
  background: #F1F3F6!important;
}
.big-stone-background{
  background: #12243c!important;
}
.white-background{
  background: white!important;
}
.orange-background{
  background: #FA9414!important;
}
.blue-background{
  background: #324995!important;
}
.green-background{
  background: #A1C739!important;
}
.green-light-background{
  background: #a6ce3a!important;
}
.red-background{
  background: #df4a43!important;
}
.pampas-background{
  background: #ece8e2!important;
}
.baltic-sea-background{
  background: #1C1B1E!important;
}


.orange-button{
  background-color: #FA9414!important;
  color: white;
}
.blue-button{
  background-color: #324995!important;
  color: white;
}
.green-button{
  background-color: #A1C739!important;
  color: white;
}
.green-lightn-button{
  background-color: #a6ce3a!important;
  color: white;
}
.red-button{
  background-color: #df4a43!important;
  color: white;
}

.orange-button:hover{
  background: transparent!important;
  color: #FA9414;
  border: 1px solid #FA9414;
  text-decoration: none;  
}
.blue-button:hover{
  background: transparent!important;
  color: #324995;
  border: 1px solid #324995;
  text-decoration: none;  
}
.green-button:hover{
  background: transparent!important;
  color: #A1C739;
  border: 1px solid #A1C739;
  text-decoration: none;  
}
.red-button:hover{
  background: transparent!important;
  color: #df4a43;
  border: 1px solid #df4a43;
  text-decoration: none;
}
.subheader .breadcrumb a:hover {
    color: #a6ce3a;
}

/*Index*/
.property-img img{
    height: 280px!important;
    width: 100%;
}

.property-img .new-img {
    height: 230px!important;
    width: 100%;
}

.property-img .banco-img{
    max-width: 100%;
    height: auto!important;
    width: inherit;
}

.nosotros {
    background-image: url(../images/servicios/01.jpg);
}
.revista {
    background-image: url(../images/servicios/02.jpg);
}
.nuestracasa-tv {
    background-image: url(../images/servicios/03.jpg);
}
.alertaroja{
  background-image: url(../images/servicios/04.jpg);
}

.news .property-content{
  padding: 5%;
}

.news .property-content .property-title{
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0px solid rgba(0, 0, 0, 0.09);
}

/*Proyectos*/
.property-business{
  position: absolute;
    color: white;
    bottom: 10px;
    left: 15px;
    z-index: 20;
}
.business{
  bottom: 0px;
  position: absolute;
  left: 15px;
  z-index: 20;
}
.business img{
  width: 20%;
  height: auto;
}

/*detalle proyecto*/
.widget h4 span{
  font-family: 'Big Noddle Titling', cursive;
  text-transform: uppercase;
}

.additional-details-list > li {
    background: #f4fbd7;
    position: relative;
    padding: 20px 20px 20px 70px;
    min-height: 60px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 15px 15px 15px;
    font-size: 14px!important;
}
.additional-details-list > li i {
    position: absolute;
    color: #a6ce39;
    font-size: 30pt;
    float: left;
    top: 5px;
    left: 20px;
}
.additional-details-list [class^="icon-"]{
  top: -7px;
}

.additional-details-list .fa{
  top: 15px;
}
.widget.recent-properties i, .widget.recent-posts i {
    margin-right: 5px;
}

.recent-properties .recent-property img{
  height: 100px!important;
}
.property-single-item .property-details-single td .icon {
    font-size: 35px;
    display: inline;
}
.property-tag a{
  color: white!important;
  width: 100%;
}
.facebook{
  color: white;
  background: #3b5998;
}
.facebook:hover{
  color: #3b5998;
  background: transparent!important;
  border: 1px solid #3b5998;
}
.twitter{
  color: white;
  background: #55acee;
}
.twitter:hover{
  color: #55acee;
  background: transparent!important;
  border: 1px solid #55acee;
}

/*Directorio*/
.property-row, .property-row .property-content {
   max-height: 245px!important;
}

/*detalle directorio*/
.img-publicidad{
    padding: 0 5%;
}
.agent-single .agent-details p span a{
    float: right;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.9;
}

/*detalle articulo*/
.galeria-news {
    margin-bottom: 20px;
    padding: 10px 0px 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


/*Responsive*/
@media screen and (max-width: 990px) {
    footer {
      padding: 0;
    } 
    .footer-logo {
        display: block;
        margin: 5% 10%;
        text-align: center;
    }
    .footer-widget {
        margin-bottom: 0;
    }
    .recent-properties .recent-property img {
        height: 150px!important;
    }
    .property-row .property-text, .agent-row .agent-text {
        white-space: inherit;
        overflow: inherit;
    }
}

@media screen and (min-width: 768px){
    .agent-single .agent-img {
        width: 35%;
    }
    .agent-single .agent-content {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    .recent-properties .recent-property img {
        height: 450px!important;
    }
    .property-row-sidebar .property-img {
        width: 35%;
    }
    .property-row-sidebar .property-content {
        width: 65%;
    }
    .property-row .property-content, .agent-row .agent-content {
        float: right;
        width: 100%;
    }

    .property-row .property-img, .agent-row .agent-img {
        display: inline-block;
    }
}